{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <h1>Cart</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cart.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ cart.Quantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cart_index') }}">back to list</a>

    <a href="{{ path('app_cart_edit', {'id': cart.id}) }}">edit</a>

   
{% endblock %}
