{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Modifier la catégorie</h1>

        {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <div class="text-center mt-3">
            <a href="{{ path('app_category_index') }}" class="btn btn-secondary">Retour à la liste</a>
        </div>

        <div class="mt-3">
            {{ include('category/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
