{% extends 'base.html.twig' %}
{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <div class="container mt-5" style="background-color: grey;">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white text-center">
                        <h1>Créer un nouveau produit</h1>
                    </div>
                    <div class="card-body">
                        {{ include('product/_form.html.twig') }}
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ path('app_product_index') }}" class="btn btn-secondary">Retour à la liste</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
